<!-- layout.ejs (p. 162) -->

<body>
    <head>
        <title>My page</title>
    </head>
    <header id="nav">
        <%- include('partials/navigation') %>
    </header>
    <%- body %><!-- 표준 HTML로 본문 둘러싸기 -->
    <footer id="footer">&copy; 2024oshell</footer>
</body>